#### Introduction

#### Import libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

##### Load data

In [5]:
data = pd.read_csv("qsar_aquatic_toxicity.csv",sep=";")
data

          0      0.1  0.2  2.419  1.225  0.667  0.3  0.4  3.740
0      0.00    0.000    0  2.638  1.401  0.632    0    0  4.330
1      9.23   11.000    0  5.799  2.930  0.486    0    0  7.019
2      9.23   11.000    0  5.453  2.887  0.495    0    0  6.723
3      9.23   11.000    0  4.068  2.758  0.695    0    0  5.979
4    215.34  327.629    3  0.189  4.677  1.333    0    4  6.064
..      ...      ...  ...    ...    ...    ...  ...  ...    ...
540   24.06   35.776    2  3.326  2.837  0.849    2    0  4.651
541    9.23   11.000    0  3.275  2.727  0.874    0    0  3.953
542    0.00    0.000    0  5.165  3.111  0.732    0    0  6.219
543   13.14    9.507    0  2.859  2.614  0.827    0    0  4.995
544    0.00    0.000    0  2.255  1.800  0.917    0    0  2.480

[545 rows x 9 columns]